---
layout: default
title: knowitall solutions for startups
---

    <!-- this is my introduction section with calls to action -->
    <section class="pad-hero">
      <!-- the conatiner below contains my hero elements and will be used again but flipped in the testimonials section -->
      <div class="boxontop-ltr-wrapper grid-middle-noBottom-noGutter-equalHeight">
        <!-- this is the contianer for the white box and buttons -->
        <div class="boxontop-ltr-content position-rel col-6_sm-12" data-push-left="off-3_sm-0">
          <!-- this is the container for my white box -->
          <div class="bg-white pad-box">
            <h1>Helping startup teams scale to success.</h1>
            <h6>Happy teams have the know-how and resources to stay on the same page and work in sync.</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <!-- these are the buttons which are meant to midline at the bottom of the container above -->
            <div class="boxontop-ltr-buttons position-abs">
              <a href="blog.html"><button class="button-main margin-right-xs">learn for free</button></a>
              <a href="services.html"><button class="button-main margin-left-xs">hire me</button></a>
            </div>
          </div>
        </div>
        <!-- this is the container for my hero image which will overlap so it sits beside and underneath the container for my intro -->
        <div class="boxontop-ltr-img position-rel col-3_sm-12">
          <div class="boxontop-ltr-img-wrapper position-abs">
            <img class="boxontop-ltr-img add-object-fit" src="https://unsplash.it/500" alt="lily bruns hero image">
          </div>
        </div>
      </div>
    </section>
    <!-- this is my definition of knowledge management section -->
    <section class="pad-section">
      <h2 class="text-center">What is knowledge management?</h2>
      <div class="bg-dark pad-all-s">
        <p class="text-white text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>
    <!-- this is my recent articles section which will have previews and links to the blog -->
    <section class="pad-section">
      <h3>recent articles</h3>
      <!-- this is the container for the blog previews -->
      <div class="grid">
        <!-- this is a blog preview which will be repeated with jekyll -->
        <div class="col-4_sm-12 bg-white">
          <img src="" alt="blog post image">
          <div>
            <h4>Blog post title which will probably be quite long like this.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="text-center">
            <a href="#"><button class="button-main">read more</button></a>
          </div>
        </div>
      </div>
    </section>
    <!-- this is my services section which explains what i do -->
    <section class="pad-section">
      <h3>services</h3>
      <!-- this is the container for the list of services -->
      <div class="bg-white pad-box">
        <!-- this is one item on the list of services which will be repeated with jekyll - ACCORDIAN? -->
        {% for services in site.services %}
         <div class="margin-all-s">
           <h4>{{services.servicename}}</h4>
         </div>
        {% endfor %}
        <div class="text-right position-rel readservices-button center-screen-md">
          <a href=""><button class="button-main">read more about services</button></a>
        </div>
      </div>
    </section>
    <!-- this is my recent projects section which will have previews of case studies and links to the landing pages where they can be downloaded -->
    <section class="pad-section">
      <h3>recent projects</h3>
      <!-- this is the container for the case study previews -->
      <div class="grid-spaceBetween">
        <!-- this is a case study preview which will be looped by jekyll -->
       {% for casestudy in site.casestudy limit:3 %}
        <div class="col_sm-12 bg-white margin-all-xs">
          <img src="{{casestudy.pic}}" alt="case study image">
          <div>
            <h4>{{casestudy.title}}</h4>
            <p>{{casestudy.previewtext}}</p>
          </div>
          <div class="text-center">
            <!-- HELP ME - how use jekyll pull correct url in loop? -->
            <a href="{{casestudy.url}}"><button class="button-main">get the case study</button></a>
          </div>
        </div>
       {% endfor %}
      </div>
    </section>
    <!-- this is my testimonials section which tells people why the should work with me -->
    <section>
      <!-- the container below contains my testimonial elements -->
      <div class="boxontop-rtl-wrapper grid-middle-noBottom-noGutter-equalHeight">
        <!-- this is the contianer for the white box and buttons -->
        <div class="boxontop-rtl-content position-rel col-6_sm-12" data-push-left="off-3_sm-0">
          <!-- this is the container for my white box -->
          <div class="bg-white pad-box">
            <div class="pad-all-s">
              <h2>Why work with me?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- this is the container for the testimonials which should cycle through like a gallery-->
            <div class="grid-middle container-center">
              <div class="col-1">
                <!-- this is the button or icon to click left to see previous testimonial -->
              <a id="flex-left" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
              </div>
              <div id="testimonial" class="col-8">
                <!-- these are the testimonial itself -->
                <div class="flexslider">
                  <ul class="slides">
                    <li>
                      <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote>
                      <p class="text-right">satisfied client #1</p>
                    </li>
                    <li>
                      <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote>
                      <p class="text-right">satisfied client #1</p>
                    </li>
                    <li>
                      <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote>
                      <p class="text-right">satisfied client #1</p>
                    </li>
                    <li>
                      <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote>
                      <p class="text-right">satisfied client #1</p>
                    </li>
                  </ul><!-- .slides -->
                </div><!-- .flexslider -->
              </div>
              <div class="col-1">
                <!-- this is the button or icon to click right to see next testimonial -->
                <a id="flex-right" href="#"><i  class="fa fa-chevron-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- this is the container for my testimonial image -->
        <div class="boxontop-rtl-img position-rel col-3_sm-12">
          <div class="boxontop-rtl-img-wrapper position-abs">
            <img class="boxontop-rtl-img add-object-fit" src="https://unsplash.it/500" alt="image to go with testimonial">
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="pad-section">
      <!-- this is the container for the contact form -->
      <div class="bg-white pad-box">
        <h2 class="text-center">Get in touch</h2>
          <!-- this is button to toggle between the two form options (will use javascript?) -->
          <div class="text-center pad-top-s">
            <button id="sendquickmessage" class="button-toggle-active">send a quick message</button>
            <button id="kickstart" class="button-toggle-inactive">kickstart your project</button>
          </div>
          <div>
            <!-- this is the first form which will appear by default -->
                <form id="sendquickmessage-form" class="grid-spaceBetween margin-all-s" method="POST" action="http://formspree.io/busababruns@gmail.com">
                  <div class="col-12">
                    <label for="name">Name</label>
                    <input type="text" required="true" name="name" id="name" placeholder=" Harry">
                  </div>
                  <div class="col-12">
                    <label for="email">Email</label>
                    <input type="email" required="true" name="email" id="email" placeholder=" harry@wizards.com">
                  </div>
                  <div class="col-12">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" placeholder=" Your message"></textarea>
                  </div>
                  <button type="submit" required="true" class="button-main container-center">send</button>
                </form>
            <!-- this is the second form which will appear when the user toggles the button -->
                <form id="kickstart-form" class="hide-kickstart grid-spaceBetween margin-all-s" method="POST" action="http://formspree.io/busababruns@gmail.com">
                  <div class="col_sm-12">
                    <label for="name">First Name</label>
                    <input type="text" required="true" name="firstname" id="name" placeholder=" Harry">
                  </div>
                  <div class="col_sm-12">
                    <label for="name">Last Name</label>
                    <input type="text" required="true" name="lastname" id="name" placeholder=" Potter">
                  </div>
                  <div class="col-12">
                    <label for="email">Email</label>
                    <input type="email" required="true" name="email" id="email" placeholder=" harry@wizards.com">
                  </div>
                  <div class="col-12">
                    <label for="name">Company</label>
                    <input type="text" required="true" name="company" id="name" placeholder=" Ministry of Magic">
                  </div>
                  <div class="col-12">
                    <label for="project">What project(s) are you interested in?</label>
                    <!-- these are the checkbox options - CAN PULL USING JEKYLL? -->
                    {% for services in site.services %}
                    <input type="checkbox" name="project" value="project1"/>{{services.servicename}}
                    {% endfor %}
                    <input type="checkbox" name="project" value="multi"/>Several of the above projects, I *need* help
                    <input type="checkbox" name="project" value="notsure"/>Not sure, can we chat first?
                  </div>
                  <div class="col-12">
                    <label for="companysize">How many people are on your team?</label>
                    <select name="teamsize">
                      <option value="tiny">Less than 5 people</option>
                      <option value="small">5-10 people</option>
                      <option value="medium">11-20 people</option>
                      <option value="large">21-50 people</option>
                      <option value="toobig">More than 50 people</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <label for="whykm">Why do you need knowledge management?</label>
                    <textarea name="message" required="true" id="whykm" placeholder=" Because I'm the only one who can answer my team's questions and its driving me bananas."></textarea>
                  </div>
                  <div class="col-12">
                    <label for="message">What else would you like to tell me?</label>
                    <textarea name="message" id="message" placeholder=" Your message"></textarea>
                  </div>
                  <button type="submit" class="button-main container-center">send project request</button>
                </form>
          </div>
      </div>
    </section>
