/* universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #fefefe;
}

/* layouts */

nav {
  padding: 2vh 5vw;
  position: sticky;
}
section, footer {
  padding: 10vh 10vw;
}
.box-on-top {

}
.flip-vertical {

}

/* typography */

body {
  font-family: 'Roboto Slab', serif;
  color: #1e2330;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Catamaran', sans-serif;
}
h1 {
  color: #c84447;
  font-size: 2rem;
}
h2 {
  color: #c84447;
  font-size: 2.5rem;
  font-weight: bolder;
}
h3 {
  color: #c84447;
  font-size: 1.8rem;
  font-weight: lighter;
  text-transform: uppercase;
}
h4 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
h5 {
  font-size: 1.2rem;
  text-transform: capitalize;

}
h6 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
a {
  color: #ff794d;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
}
a:hover {
  color: #ff794d;
  font-weight: 400;
}
i {
  color: #ff794d;
}
ul,li {
  font-weight: 300;
  font-size: 0.9rem;
}
blockquote {
  font-family: 'Roboto', sans-serif;
}
label {
  font-family: 'Roboto Slab', serif;
}
input,placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.price {
  font-family: 'Catamaran', sans-serif;
  color: grey;
}
.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.6rem;
}
.text-white {
  color: white;
}
.text-dark {
  color: #1e2330;
}
.text-big {
  font-size: 2.5rem;
}
.text-medium {
    font-size: 1.8rem;
}
.text-small {
  font-size: 0.9rem;
}

/* buttons */

button {
  font-family: 'Roboto Slab', serif;
}
.button-main {
  background-color: white;
  border: 5px solid #ff794d;
  min-width: 80px;
  padding: 10px 5px;
  box-shadow: 0.5px 5px 10px rgba(0,0,0,0.05);
}
.button-main:hover {
  padding: 20px 20px;

}
.button-dark {
  background-color: #1e2330;
  border: 5px solid #1e2330;
  color: white;
}
.button-dark:hover {

}
/* this should change with javascript since button style will depend on toggle state */
.button-toggle {

}

/* helper classes */

.bg-white {
  background-color: white;
  padding: 2%;
  box-shadow: 0.5px 5px 20px rgba(0,0,0,0.13);
}
.bg-dark {
 background-color: #1e2330;
 padding: 2%;
 box-shadow: 0.5px 5px 20px rgba(0,0,0,0.13);
}
.bg-bright {
  background-color: #ff794d;
  box-shadow: 0.5px 5px 20px rgba(0,0,0,0.13);
}
